body 		{ background-color: transparent; }
#edging 	{ background-color: #1c1c1c; border: solid 1pt; border-top-left-radius: 5pt; border-top-right-radius: 5pt; }

#header 	{ }
#title-bar 	{ }
#title-icon { }
#title 		{ }
#window-controls { }
#minimize	{ line-height: 3pt; text-indent: 2pt; font-family: Trebuchet MS; }
#minimize:after	{ content: "_" }
#close		{ line-height: 7pt; text-indent: 2pt; font-family: Trebuchet MS; }
#close:after	{ content: "x" }

#container 	{ }
#content 	{ }

#footer 	{ }
#status-bar { }
#status 	{ }
#resizer 	{ }
